@rendermode InteractiveServer
@inject Microsoft.AspNetCore.Components.NavigationManager Navigation

@if(gpu == null)
{
    <div class="gpu-card loading">
        <div class="loading-spinner"></div>
    </div>
}
else
{
<div class="gpu-card">

    <div class="gpu-body">
        <div class="left">
            <div class="gpu-header">
                <h4><NavLink href="@($"/device/view/{gpu.Id}")">@gpu?.Name</NavLink></h4>
            </div>

            <div>Model: <span style="color: #0A1128;">@gpu?.Model</span></div>
            @if (!authorized){
                <div>Owner name: User1</div>
            }

            <div class="price">
                Price per hour: @gpu.PricePerHour$
            </div>
        </div>

        <div class="middle">
            <div>VRAM MB: <span style="color: #0A1128;">@gpu.VramMb</span></div>
            <div>CUDA cores: <span style="color: #0A1128;">@gpu.CudaCores</span></div>
            <div>Driver version: <span style="color: #0A1128;">@gpu.DriverVersion</span></div>
            <div>
                Supported frameworks:
                <span style="color: #0A1128;">@string.Join(", ", gpu.Frameworks)</span>
            </div>
        </div>

        <div class="right">
            <span class="badge @(gpu.IsAvailable ? "available" : "unavailable")">
                @(gpu.IsAvailable ? "Available" : "Unavailable")
            </span>
            @if (authorized)
            {
                <div class="buttons-wrapper">
                    <button class="btn btn-primary" @onclick="() => EditGpu(gpu)">Edit</button>
                    <button class="btn btn-danger" @onclick="() => RemoveGpu(gpu)">Remove</button>
                </div>
            }
            else 
            {
                <button class="btn btn-primary" disabled=@(!gpu.IsAvailable) @onclick="() => OrderGpu(gpu)">Order</button>
            }
        </div>
    </div>

    @if(authorized)
    {
        <MudDivider Class="my-2" style="border: 1px solid #3b5a8a" />

        <div class="flex-row" style="justify-content: space-between; color: #0A1128;">
            <span style="font-weight: bold;">Current tenant: -</span>
            <span style="font-weight: bold;">Uptime: 1h 45min</span>
        </div>
    }

</div>
}

<RemoveDeviceModal Gpu="@gpu" IsVisible="@showRemoveDeviceModal" OnClose="@(() => showRemoveDeviceModal = false)" />

@code {
    [Parameter] public bool authorized { get; set; } = false;
    [Parameter] public Gpu? gpu { get; set; } = null;
    private bool showRemoveDeviceModal = false;

    public void OrderGpu(Gpu gpu)
    {
        // Implement order logic here
        Console.WriteLine($"Ordering GPU: {gpu.Name}");
    }

    public void EditGpu(Gpu gpu)
    {
        // Implement edit logic here
        Console.WriteLine($"Editing GPU: {gpu.Name}");
        Navigation.NavigateTo($"/device/edit/{gpu.Id}");
    }

    public void RemoveGpu(Gpu gpu)
    {
        showRemoveDeviceModal = true;
        // Implement remove logic here
        Console.WriteLine($"Removing GPU: {gpu.Name}");
    }
}