@using GpuShare.Frontend.Components.Modals
@inject IOrderService OrderService
@inject IFormatters Formatters

<div class="table-controls">
    <div class="status-filters">
        @foreach (var filter in _statusFilters)
        {
            <button class="filter-btn @(_selectedStatus == filter ? "active" : "")"
                    @onclick="@(() => SelectStatus(filter))">
                @filter
            </button>
        }
    </div>
</div>

<div class="table-card">
    @if (_orders.Count == 0)
    {
        <p style="text-align: center; margin-top: 20px; font-size: 0.9rem; color: #6c757d;">No orders yet.</p>
    }
    else
    {
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Device</th>
                    <th>Owner</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Cost</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in _filteredOrders)
                {
                    <tr>
                        @* <!-- Singular order page --> *@
                        <td>
                            <a class="order-link" href="@($"/order/{order.Id}")">#@order.Id</a>
                        </td>
                        <td>@order.DeviceId</td>
                        <td><a class="profile-link" href="/profile/@order.OwnerUsername">@order.OwnerUsername</a></td>
                        <td>@(order.StartDate == null || order.StartDate == DateTime.MinValue ? "-" : order.StartDate.ToString())</td>
                        <td>@(order.EndDate == null || order.EndDate == DateTime.MinValue ? "-" : order.EndDate.ToString())</td>
                        <td>@(order.Cost == 0 ? "-" : $"{order.Cost}$")</td>
                        <td>
                            <span class="status-badge @GetStatusClass(order.Status)">
                                @order.Status
                            </span>
                        </td>

                        <td>
                            <div class="order-actions">
                                @* <a class="details-btn" href="@($"/orders/{order.Id}")">Details</a> *@
                                @if (order.Status != OrderStatus.WaitingForStart) // && !order.HasReview
                                {
                                    <button class="review-btn" @onclick="@(() => LeaveReview(order.Id))">Leave Review</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div class="load-more-container">
    <a class="load-more-link" href="javascript:void(0)" @onclick="LoadMore">Load more...</a>
</div>

<ReviewModal IsVisible="@_showReviewModal" OrderId="@_selectedOrderId" OnClose="@CloseReviewModal" OnSubmit="@HandleReviewSubmit" />

@code {
    [Parameter] public string Username { get; set; } = null!;

    private string _selectedStatus = "All";
    private bool _showReviewModal;
    private int _selectedOrderId;
    private int _lastPage = 1; // last loaded page

    private List<string> _statusFilters = new()
    {
        "All",
        "Waiting for start",
        "Running",
        "Completed",
        "Failure",
        "Suspended"
    };

    private List<Order> _orders { get; set; } = [];

    private List<Order> _filteredOrders =>
        _selectedStatus == "All" ? _orders : _orders.Where(x => Formatters.FormatOrderStatus(x.Status) == _selectedStatus).ToList();

    protected override async Task OnParametersSetAsync()
    {
        var pagedResult = await OrderService.ListOrdersAsync(new OrderQueryParams()
        {
            OwnerUsername = Username,
            Page = 1,
            PageSize = 10
        });
        _orders.AddRange(pagedResult.Items);
    }

    private void SelectStatus(string status)
    {
        _selectedStatus = status;
    }

    private void LeaveReview(int orderId)
    {
        _selectedOrderId = orderId;
        _showReviewModal = true;
    }

    private Task CloseReviewModal()
    {
        _showReviewModal = false;
        return Task.CompletedTask;
    }

    private async Task HandleReviewSubmit(ReviewRequest request)
    {
        _showReviewModal = false;
    }

    private async Task LoadMore()
    {
        var pagedResult = await OrderService.ListOrdersAsync(new OrderQueryParams()
        {
            OwnerUsername = Username,
            Page = _lastPage++,
            PageSize = 10
        });
        _orders.AddRange(pagedResult.Items);
    }

    private string GetStatusClass(OrderStatus status)
    {
        return status switch
        {
            OrderStatus.WaitingForStart => "status-waiting",
            OrderStatus.Running => "status-running",
            OrderStatus.Completed => "status-completed",
            OrderStatus.Failure => "status-failure",
            OrderStatus.Suspended => "status-suspended",
            _ => ""
        };
    }

}