@using GpuShare.Frontend.Components.Modals

<div class="table-controls">
    <div class="status-filters">
        @foreach (var filter in StatusFilters)
        {
            <button class="filter-btn @(SelectedStatus == filter ? "active" : "")"
                    @onclick="@(() => SelectStatus(filter))">
                @filter
            </button>
        }
    </div>
</div>

<div class="table-card">
    @if (Orders.Count == 0)
    {
        <p style="text-align: center; margin-top: 20px; font-size: 0.9rem; color: #6c757d;">No orders yet.</p>
    }
    else
    {
        <table class="custom-table">
            <thead>
                <tr>
                    <th>Order</th>
                    <th>Device</th>
                    <th>Owner</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Cost</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in FilteredOrders)
                {
                    <tr>
                        @* <!-- Singular order page --> *@
                        <td>
                            <a class="order-link" href="@($"/order/{order.Id}")">#@order.Id</a>
                        </td>
                        <td>@order.DeviceId</td>
                        <td><a class="profile-link" href="/profile/@order.OwnerUsername">@order.OwnerUsername</a></td>
                        <td>@(order.StartDate == null || order.StartDate == DateTime.MinValue ? "-" : order.StartDate.ToString())</td>
                        <td>@(order.EndDate == null || order.EndDate == DateTime.MinValue ? "-" : order.EndDate.ToString())</td>
                        <td>@(order.Cost == 0 ? "-" : $"{order.Cost}$")</td>
                        <td>
                            <span class="status-badge @GetStatusClass(order.Status)">
                                @order.Status
                            </span>
                        </td>

                        <td>
                            <div class="order-actions">
                                @* <a class="details-btn" href="@($"/orders/{order.Id}")">Details</a> *@
                                @if (order.Status == "Completed") // && !order.HasReview
                                {
                                    <button class="review-btn" @onclick="@(() => LeaveReview(order.Id))">Leave Review</button>
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div class="load-more-container">
    <a href="javascript:void(0)" @onclick="LoadMore">Load more...</a>
</div>

<ReviewModal IsVisible="@showReviewModal"
                   OrderId="@selectedOrderId"
                   OnClose="@CloseReviewModal"
                   OnSubmit="@HandleReviewSubmit" />

@code {
    private string SelectedStatus = "All";
    private bool showReviewModal;
    private int selectedOrderId;

    private List<string> StatusFilters = new()
    {
        "All",
        "Active",
        "Completed",
        "Cancelled",
        "Dispute"
    };
    
    private List<Order> Orders { get; set; } = [
    
        new()
        {
            Id = 1001,
            DeviceId = 69,
            OwnerUsername = "User1",
            StartDate = DateTime.Parse("2026-05-10 12:00"),
            EndDate = DateTime.Parse("2026-05-12 18:00"),
            Cost = 200,
            Status = "Completed"
        },

        new()
        {
            Id = 1002,
            DeviceId = 67,
            OwnerUsername = "User2",
            StartDate = DateTime.Parse("2026-05-15 09:00"),
            Cost = 0,
            Status = "Active"
        },

        new()
        {
            Id = 1003,
            DeviceId = 2137,
            OwnerUsername = "User2137",
            StartDate = DateTime.Parse("2026-05-20 18:00"),
            Cost = 120,
            Status = "Cancelled"
        },

        new()
        {
            Id = 1004,
            DeviceId = 404,
            OwnerUsername = "User404",
            StartDate = DateTime.Parse("2026-05-17 11:00"),
            Cost = 350,
            Status = "Dispute"
        }
    ];

    private List<Order> FilteredOrders =>
        SelectedStatus == "All"
            ? Orders
            : Orders.Where(x => x.Status == SelectedStatus).ToList();

    private void SelectStatus(string status)
    {
        SelectedStatus = status;
    }

    private void LeaveReview(int orderId)
    {
        selectedOrderId = orderId;
        showReviewModal = true;
    }

    private Task CloseReviewModal()
    {
        showReviewModal = false;
        return Task.CompletedTask;
    }

    private async Task HandleReviewSubmit(ReviewRequest request)
    {
        // await ReviewService.CreateReviewAsync(
        //     request.OrderId,
        //     new CreateReviewRequest
        //     {
        //         Rating = request.Rating,
        //         Comment = request.Comment
        //     });

        showReviewModal = false;
    }

    private void LoadMore()
    {
        // fetch more
    }

    private string GetStatusClass(string status)
    {
        return status switch
        {
            "Active" => "status-active",
            "Completed" => "status-completed",
            "Cancelled" => "status-cancelled",
            "Dispute" => "status-dispute",
            _ => ""
        };
    }

}