@page "/device/{Mode}/{Id:int?}"
@using GpuShare.Frontend.Models
@using MudBlazor
@using MudBlazor.Charts;

@* what happens when the reserved time run out but the job is not finished *@

<div class="cards-container">
    <div class="page-header" style="margin-bottom: 8px;">
        <NavLink href="/profile" class="back-link">&lt;- Back to Profile</NavLink>
    </div>

    <div class="device-card">
        @if (Mode == "edit" || Mode == "add")
        {
            <h3>@(Mode == "add" ? "Register New Device" : "Edit Device Specs")</h3>
            <EditForm FormName="SaveSpec" Model="gpu" OnValidSubmit="HandleSave">
                <div class="form-grid">
                    <div class="form-group full-width">
                        <label>Device Name</label>
                        <InputText @bind-Value="gpu.Name" placeholder="e.g. My Beast Rig" />
                    </div>

                    <div class="form-group">
                        <label>Model</label>
                        <input list="models" @bind="gpu.Model" />
                        <datalist id="models">
                            <option value="NVIDIA RTX 4090" />
                            <option value="NVIDIA A100" />
                        </datalist>
                    </div>

                    <div class="form-group">
                        <label>VRAM</label>
                        <InputSelect @bind-Value="gpu.VramMb">
                            <option value="2048">2 GB</option>
                            <option value="4096">4 GB</option>
                            <option value="6144">6 GB</option>
                            <option value="8192">8 GB</option>
                            <option value="10240">10 GB</option>
                            <option value="12288">12 GB</option>
                            <option value="16384">16 GB</option>
                            <option value="24576">24 GB</option>
                            <option value="32768">32 GB</option>
                        </InputSelect>
                    </div>

                    <div class="form-group">
                        <label>Cores</label>
                        <InputNumber @bind-Value="gpu.CudaCores" />
                    </div>

                    <div class="form-group">
                        <label>Driver Version</label>
                        <InputText @bind-Value="gpu.DriverVersion" />
                    </div>

                    <div class="form-group" style="flex-direction: row; align-items: center;">
                        <label>Price per hour</label>
                        <InputNumber style="width: 100px" @bind-Value="gpu.PricePerHour" />
                        <label>$</label>
                    </div>
                </div>

                <div class="form-footer" style="margin-top:8px">
                    <button type="submit" class="btn-primary btn-save">Save Configuration</button>
                </div>
            </EditForm>
        }
        else
        {
            <div class="view-layout">
                <div class="wrapper"> 
                    <div class="status-banner @(gpu.IsAvailable ? "online" : "offline")">
                        @(gpu.IsAvailable ? "Available for Rent" : "Currently Disabled")
                    </div>
                    <button class="btn-primary btn-edit" @onclick='() => Navigation.NavigateTo($"/device/edit/{Id}")'>
                        Edit Device
                    </button>
                </div>
                
                <div class="gpu-header">
                    <h1 style="margin-bottom: 0px;">@gpu.Name</h1>
                    @if (!isAuthorized) {
                        <h2 style="margin: 0 20px;">|</h2>
                        <NavLink href="@($"/profile/{Username}")" class="profile-link">
                            @Username
                        </NavLink>
                    }
                </div>
                <p class="model-sub">@gpu.Model</p>

                <div class="spec-grid">
                    <div class="spec-box">
                        <span class="label">VRAM</span>
                        <span class="value">@gpu.VramMb MB</span>
                    </div>
                    <div class="spec-box">
                        <span class="label">Cores</span>
                        <span class="value">@gpu.CudaCores</span>
                    </div>
                    <div class="spec-box">
                        <span class="label">Driver</span>
                        <span class="value">@gpu.DriverVersion</span>
                    </div>
                    <div class="spec-box">
                        <span class="label">Price per hour</span>
                        <span class="value">@gpu.PricePerHour $</span>
                    </div>
                    <div class="spec-box spec-box-long">
                        <span class="label">Supported Frameworks</span>
                        <span class="value">@(string.Join(", ", @gpu.Frameworks))</span>
                    </div>
                </div>
            </div>
        }
    </div>

    @if (Mode == "view" && isAuthorized) {  
    //<!-- GPU USAGE CHART -->
    <MudPaper Class="card mt-6">
        <MudText Typo="Typo.h6">GPU Usage</MudText>

        <MudChart T="double" ChartType="ChartType.Line"
                  ChartLabels="@chartLabels"
                  ChartSeries="@chartData"
                  Width="100%"
                  Height="300px" MatchBoundsToSize=true ChartOptions="@options" />
    </MudPaper>

    //<!-- RESERVATION CALENDAR -->
    <MudPaper Class="card mt-6">
        <div class="calendar-toolbar">
            <MudButton Class="btn-secondary" OnClick="PreviousWeek">
                Previous
            </MudButton>

            <MudText Typo="Typo.h6">
                @(WeekStart.ToString("dd.MM.yyyy")) - @(WeekStart.AddDays(6).ToString("dd.MM.yyyy"))
            </MudText>

            <MudButton Class="btn-secondary" OnClick="NextWeek">
                Next
            </MudButton>
        </div>

        <div class="week-calendar">

            <div class="calendar-header"></div>

            @foreach (var day in WeekDays)
            {
                <div class="calendar-header-cell">
                    <div>@day.ToString("ddd")</div>
                    <div class="date">@day.Day</div>
                </div>
            }

            @foreach (var hour in Hours)
            {
                <div class="time-label">
                    @($"{hour:00}:00")
                </div>

                @foreach (var day in WeekDays)
                {
                    <div class="calendar-cell">
                        @foreach (var reservation in GetReservationsForSlot(day, hour))
                        {
                            <div class="reservation-block"
                                style="@GetReservationStyle(reservation)"
                                title="@reservation.Title">
                                <div class="reservation-title">
                                    @reservation.Title
                                </div>

                                <div class="reservation-time">
                                    @reservation.Start.ToString("HH:mm") - @reservation.End.ToString("HH:mm")
                                </div>
                            </div>
                        }
                    </div>
                }
            }
        </div>

        <div class="calendar-legend">

            <div class="legend-item">
                <div class="legend-color reserved"></div>
                <span>Reserved</span>
            </div>

            <div class="legend-item">
                <div class="legend-color in-use"></div>
                <span>In Use</span>
            </div>

            <div class="legend-item">
                <div class="legend-color completed"></div>
                <span>Completed</span>
            </div>

            <div class="legend-item">
                <div class="legend-color available"></div>
                <span>Available</span>
            </div>

        </div>
    </MudPaper>
    }

    @if (Mode == "view" && !isAuthorized) {
        <div class="card">
            <h3 style="margin-bottom: 16px;">Owner rating: 4.5 </h3>
            <h3 style="margin-bottom: 24px;">Opinions about this gpu:</h3>
            <OpinionsCard></OpinionsCard>
        </div>

        <GpuOrderForm></GpuOrderForm>
    }

</div>

@code {
    [Parameter] public string Mode { get; set; } = "view"; // "view", "edit", or "add"
    [Parameter] public int? Id { get; set; }

    [Inject] public NavigationManager Navigation { get; set; } = default!;

    private Gpu gpu = new();
    private LineChartOptions options = new(){};
    private bool isAuthorized = false;
    private string Username = "user1";
    
    protected override void OnInitialized()
    {
        if (Id.HasValue)
        {
            gpu = new Gpu
            {
                Name = "Workstation-Alpha",
                Model = "RTX 4090",
                VramMb = 24576,
                CudaCores = 16384,
                DriverVersion = "535.xx",
                Frameworks = new() { "CUDA", "TensorRT" },
                IsAvailable = true
            };
        }

        GenerateMockChart();
        GenerateMockReservations();
    }

    protected override void OnParametersSet()
    {
        if (Id.HasValue)
        {
            // Mock: Load existing device data
            gpu = new Gpu { Name = "Workstation-Alpha", Model = "RTX 4090", VramMb = 24576, CudaCores = 16384 };
        }
    }

    private void HandleSave()
    {
        // Save to DB logic...
        Navigation.NavigateTo($"/device/view/{Id ?? 1}");
    }

    // ===== GPU CHART =====
    private string[] chartLabels = Array.Empty<string>();
    private List<ChartSeries<double>> chartData = new();


    // ===== RESERVATIONS =====
    private DateTime WeekStart =
        DateTime.Today.AddDays(-(int)DateTime.Today.DayOfWeek + 1);

    private List<int> Hours =
        Enumerable.Range(0, 24).ToList();

    private List<DateTime> WeekDays =>
        Enumerable.Range(0, 7)
            .Select(i => WeekStart.AddDays(i))
            .ToList();

    private List<Reservation> reservations = new();

    public class Reservation
    {
        public string Title { get; set; } = "";
        public string Status { get; set; } = "";

        public DateTime Start { get; set; }
        public DateTime End { get; set; }
    }

    // ===== MOCK DATA =====
    private void GenerateMockChart()
    {
        chartLabels = Enumerable.Range(0, 12)
            .Select(i => $"{i * 5}s")
            .ToArray();

        chartData = new List<ChartSeries<double>>()
        {
            new ChartSeries<double>
            {
                Name = "GPU %",
                Data = new double[] { 10, 30, 50, 40, 70, 90, 60, 40, 20, 10, 25, 60 }
            }
        };

        options.SeriesDisplayOverrides = new Dictionary<IChartSeries, SeriesDisplayOverride>()
        {
            { chartData[0], new SeriesDisplayOverride(){
                LineDisplayType = LineDisplayType.Area,
            } }
        };
        options.ShowDataMarkers = true;
    }

    private void GenerateMockReservations()
    {
        reservations = new()
        {
            new Reservation
            {
                Title = "LLM Training",
                Status = "In Use",
                Start = WeekStart.AddDays(1).AddHours(9),
                End = WeekStart.AddDays(1).AddHours(13)
            },

            new Reservation
            {
                Title = "Stable Diffusion",
                Status = "Reserved",
                Start = WeekStart.AddDays(2).AddHours(14),
                End = WeekStart.AddDays(2).AddHours(18)
            },

            new Reservation
            {
                Title = "CUDA Rendering",
                Status = "Reserved",
                Start = WeekStart.AddDays(4).AddHours(8),
                End = WeekStart.AddDays(4).AddHours(11)
            },

            new Reservation
            {
                Title = "Fine-Tuning",
                Status = "In Use",
                Start = WeekStart.AddDays(5).AddHours(16),
                End = WeekStart.AddDays(5).AddHours(22)
            }
        };
    }


    // ===== HELPERS =====
    private IEnumerable<Reservation> GetReservationsForSlot(DateTime day, int hour)
    {
        return reservations.Where(r =>
            r.Start.Date == day.Date &&
            r.Start.Hour == hour);
    }

    private string GetReservationStyle(Reservation r)
    {
        var durationHours = (r.End - r.Start).TotalHours;

        return $@"
            height: calc({durationHours} * 80px - 4px);
            background: {GetColor(r.Status)};
        ";
    }

    private string GetColor(string status) => status switch
    {
        "Reserved" => "#ff9800",
        "In Use" => "#f44336",
        "Completed" => "#2196f3",
        _ => "#4caf50"
    };

    // =========================
    // NAVIGATION
    // =========================

    private void NextWeek()
    {
        WeekStart = WeekStart.AddDays(7);
        GenerateMockReservations();
    }

    private void PreviousWeek()
    {
        WeekStart = WeekStart.AddDays(-7);
        GenerateMockReservations();
    }
}